This app helps people organize walks with friends or their local community.

Projects:
walk2gether-expo is an expo app with typescript, firebase, tamagui and expo-router
walk2gether-functions is a firebase functions app with typescript
walk2gether-shared contains shared types and schemas (using yup)

* When prompted to complete a task, take all necessary actions to complete the task, rather than stopping and asking for direction after each step.
* Always prefer tamagui styles to StyleSheet styles
* Where appropriate, extract new components from a screen or other large component
* For components, use a typescript interface Props rather than MyComponentProps
* Where possible, have one component per file. Prefer the pattern of components/MyComponent/index.ts, components/MyComponent/MySubcomponent.tsx
* With firebase admin, use correct import structure. FieldValue.serverTimestamp() is correct, admin.firestore.FieldValue.serverTimestamp() is not correct
* In general, don't create memories to document refactorings
